@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto;
    align-items: center;
}

.nav-button {
    padding: 15px 24px;
    border: 2px solid rgb(30, 30, 30);
    color: rgb(13, 19, 33);
    border-radius: 8px;
    opacity: .8;
}

.banner {
    background: url(../photos/Hero-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {

    margin-block: 50px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
}

.banner-description {
    color: rgba(13, 19, 33, 0.808);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.banner-button {
    background-color: rgb(13, 19, 33);
    color: white;
    padding: 0px 16px;
    border-radius: 8px;
    margin-top: 26px;
    cursor: pointer;

}

.intro {
    width: 80%;
    margin: 60px auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

    /* padding:65px 75px ; */
}

.intro-content {
    padding: 45px 85px;

}

.intro-title {
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
}

.intro-description {
    color: rgba(13, 19, 33, 0.788);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.intro-card {
    /* height: 242px; */
    border-radius: 16px;
    background: white;
    margin-block: 36px;
    padding: 42px;
}

.intro-card-content {
    width: 850px;
    height: 240px;
    display: flex;

}

.intro-card-text {
    height: auto;
    width: 70%;
}

.intro-card-text h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    width: 60%;
}

.intro-card-text p {
    color: rgba(13, 19, 33, 0.747);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 15px;
    width: 80%;
}

.intro-text-button {
    background-color: transparent;
    padding-inline: 18px;
    padding-block: 8px;
    color: rgba(13, 19, 33, 0.712);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgba(13, 19, 33, 0.753);
    margin-top: 18px;
}

.inspiration {
    width: 80%;
    margin: 60px auto;
    text-align: center;

}

.inspiration h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
}

.inspiration p {
    width: 80%;
    margin: 20px auto;
    color: rgba(13, 19, 33, 0.705);
}

.inspiration-video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    height: 520px;
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target {
    width: 80%;
    margin: 160px auto;
}

.target-text h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
}

.target-text p {
    width: 70%;
    margin: 20px auto;
    color: rgba(13, 19, 33, 0.705);
    text-align: center;
}

.target-card-section {
    margin: 60px auto;
    display: flex;
    justify-content: space-between;

}

.target-card {
    width: 31%;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

}

.target-card-content {
    margin: 35px;

}

.target-card-content h4 {
    color: rgb(13, 19, 33);
    font-size: 22px;
    font-weight: 800;
    line-height: 32px;
}

.target-card-content p {
    color: rgba(13, 19, 33, 0.705);
    font-size: 16px;
    font-weight: 400;
}

.target-card-content a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

.next-target {
    width: 80%;
    margin: 0 auto;
}

.next-target-text h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
}

.next-target-text p {
    width: 80%;
    margin: 20px auto;
    color: rgba(13, 19, 33, 0.705);
    text-align: center;
}

.next-target-card-section {
    margin: 60px auto;
}

.next-target-card {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin-bottom: 26px;

}

.next-target-card-text h4 {
    color: rgb(13, 19, 33);
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
}

.next-target-card-text p {
    color: rgba(13, 19, 33, 0.719);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.support {
    width: 80%;
    margin: 80px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../photos/handshake.jpg);
    height: 312px;
    background-size: cover;
    background-position: center;

    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.support-content {
    /* margin: 54px ; */
    text-align: center;

}

.support-content h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
}

.support-content p {
    color: rgba(255, 255, 255, 0.719);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.support-input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}

.support-input ::placeholder {
    color: rgba(13, 19, 33, 0.4);
}

.support-button {
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;

}

.footer-icon {
    display: flex;
    gap: 20px;
}